.grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 1rem; 
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 1.4rem;
    border: 1px solid black;
    padding: 0.9rem;
}

.grid-item-title {
    font-size: 1.1rem;
}

.grid-item-desc {
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}

.grid-item-image {
    width: 5rem;
    height: auto;
}

.button {
    border: none;
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;

}

.flex-buttons {
    display: flex;
    column-gap: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.grid-item-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-flex1 {
    background-color: yellow;
    padding: 0.5rem 1rem 0.5rem 1rem;

}

.grid-flex2 {
    background-color: green;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


